form.form-horizontal
  fieldest
    .row.border
      div.span4.control-group
        label.editContactControlLabel(for="mobile_country_code") Country code:
        div.controls
          input.span2.input-xlarge(name="mobile_country_code",type="text",value="#{mobile_country_code}")
      div.span4.control-group
        label.editContactControlLabel(for="mobile") Mobile:
        div.controls
          input.span2.input-xlarge(name="mobile",type="text",value="#{mobile}")
    .row.border
      div.span4
        div.center Mail(Home)
        br
        div.control-group
          label.editContactControlLabel(for="home_country") Country:
          div.controls
            select.span2(name="home_country",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="home_state") Province:
          div.controls
            select.span2(name="home_state",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="home_city") City:
          div.controls
            select.span2(name="home_city",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="home_street") Street:
          div.controls
            input.span2.input-xlarge(name="home_street", type="text")
        div.control-group
          label.editContactControlLabel(for="home_zip") Postal Code:
          div.controls
            input.span2.input-xlarge(name="home_zip", type="text")
      div.span4
        div.center Mail(Business)
        br
        div.control-group
          label.editContactControlLabel(for="business_country") Country:
          div.controls
            select.span2(name="business_country",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="business_state") Province:
          div.controls
            select.span2(name="business_state",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="business_city") City:
          div.controls
            select.span2(name="home_city",type="text")
              option 1
        div.control-group
          label.editContactControlLabel(for="business_street") Street:
          div.controls
            input.span2.input-xlarge(name="business_street", type="text")
        div.control-group
          label.editContactControlLabel(for="business_zip") Postal Code:
          div.controls
            input.span2.input-xlarge(name="business_zip", type="text")  
    div.control-group.border
      label.editContactControlLabel(for="skype_id") Skype ID:
      div.controls
        input.span2.input-xlarge(name="skype_id", type="text")
    div.form-actions
      button.btn.btn-primary.save Save changes
      |&nbsp;&nbsp;
      button.btn.cancel Cancel

