ul.nav.main
  each item, i in items
    if item.is_show()
      li(class="#{item.is_active() ? 'active' : ''}")
        a(href="##{item.get_name()}")= item.upperName()

if model.fellow
  ul.nav.pull-right
    li.user.dropdown
      a.dropdown-toggle(href="#",data-toggle="dropdown")
        | #{window.model.fellow.get('first_name')}
        b.caret
      ul.dropdown-menu
        li
          a(href="#profile")
            i.icon-user
            | &nbsp;Profile
        li.divider
        li
          a(href="#")
            i.icon-pencil
            | &nbsp;Reset password
        li
          a(href="#logout")
            i.icon-off
            | &nbsp;Log out
