ul.nav.nav-tabs
  li.active: a(href="#published-offers",data-toggle="tab") Offers #{first_name} Published
  li: a(href="#followed-offers",data-toggle="tab") Offers #{first_name} Followed
div.tab-content
  div.tab-pane.active#published-offers
  div.tab-pane#followed-offers
