.row
  .span4
    .well
      div
        a(href="#")
          img(src="#{window.model.fellow.attributes.img}")
        .h2.nameRight
          |#{window.model.fellow.attributes.first_name}
    .wellWithoutBorder
      ul.nav.nav-tabs.nav-stacked
        li
          a(href="#") Offers
        li
          a(href="#") Information
    #relationshipBlock
  .span8
    #basic-profile
    #contact-info
    #organization-info

      
